<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>

        <h1>Ilwin Dcunha</h1>
        <br>
        <h2>1001390458</h2>
        <Center>
            <form action="/search" method="post" >
            <label>Enter vehicle name </label>
            <input type = text name='vehicleName'>
                 <button type="submit" id="submit" name="sub" class="btn btn-primary button-loading" data-loading-text="Loading...">Search</button>
            </form>
        </Center>
</body>
</html>